@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  /* Custom component styles if needed */
}

@layer utilities {
  /* Custom utility styles if needed */
}
